<h3>Child Show Page</h3>
<h4>{{child.first_name}} {{child.last_name}}</h4>
<ul ng-repeat="donation in child.donations">
  <li><a href="/#/children/{{child.id}}/donations/{{donation.id}}">{{donation.message}}</li></a>
</ul>

<div ng-controller="donationController" id="donationForm">
<h4>Make a donation</h4>
  <form>
    Amount:
    <input type="number" ng-model="newDonation.amount" required /><br>
    Message:
    <input type="text" ng-model="newDonation.message" required /><br>
    <button ng-click="createDonation()">Donate</button>
  </form>
</div>
