<h3>Sign In</h3>
<form ng-submit="login()">
<div>
    <label for="email">Email address</label>
    <input type="email" ng-model="email" class="form-control" id="email" placeholder="Enter email">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" ng-model="password" minlength="6" class="form-control" id="password" placeholder="Enter password">
  </div>
  <button type="submit">Submit</button>
</form>

<br>
<br>
<br>
<button type="submit" ng-click="logout()">Log Out</button>
