<div ng-app="waitt">
  <h3>Home Index</h3>
  <%= link_to "sign in", new_user_session_path %>
  <div ng-controller="childrenController">
    <ul ng-repeat="child in children">
      <li>
        {{child.name}}
        <ul ng-repeat="donation in child.donations">
          <li>
            {{donation.message}}<br>
            {{donation.total}}
          </li>
        </li>
      </ul>
    </div>
  </div>
